<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.com.erayton.usagreement">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 打开Camera的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus"/>
    <!-- 开启闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.STATUS_BAR"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permissionmission.SYSTEM_OVERLAY_WINDOW" />

    <application>
        <provider
            android:name=".ApplicationProvider"
            android:authorities="${applicationId}.contextprovider"
            android:exported="false" />

        <service android:name="cn.com.erayton.usagreement.service.VideoPushService"
            android:enabled="true"
            android:persistent = "true"
            android:exported="false"
            android:process=":VideoPushService">
            <intent-filter android:priority="999" >
                <action android:name="cn.com.erayton.usagreement.service.VideoPushService" />
            </intent-filter>
        </service>
    </application>
</manifest>
